<section id="contactUs" class="bg-light">
    <div class="container py-5">
      <h2 class="text-center mb-5">Meet Our Developers</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="card text-center h-100"> 
            <img src="https://via.placeholder.com/300x300" class="card-img-top rounded-circle " alt="Guy1 Photo">
            <div class="card-body">
              <h5 class="card-title">Guy1</h5>
              <p class="card-text">Machine Learning Engineer</p>
              <p class="card-text">Skills: Machine Learning, Deep Learning</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card text-center h-100">
            <img src="https://via.placeholder.com/300x300" class="card-img-top rounded-circle " alt="Guy2 Photo">
            <div class="card-body">
              <h5 class="card-title">Bibek Lamichhane</h5>
              <p class="card-text">Full Stack Developer</p>
              <p class="card-text">A guy who knows React and Django</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card text-center h-100">
            <img src="https://via.placeholder.com/300x300" class="card-img-top rounded-circle " alt="Guy3 Photo">
            <div class="card-body">
              <h5 class="card-title">Guy3</h5>
              <p class="card-text">Backend Developer</p>
              <p class="card-text">Skills: Backend Development, API Development, Database Management</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card text-center h-100">
            <img src="https://via.placeholder.com/300x300" class="card-img-top rounded-circle " alt="Guy4 Photo">
            <div class="card-body">
              <h5 class="card-title">Guy4</h5>
              <p class="card-text">Frontend Developer</p>
              <p class="card-text">Skills: React.js, Frontend Development, Responsive Design</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  