{% load static %}

{% block content %}
<section id="how-it-works" class=" bg-dark text-white"">
  <div class="container">
    <h2 class="text-center mb-5">How It Works</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <h4>Data Collection</h4>
        <p>We collected a large dataset of baby cry sounds from various sources open sources.Around 800 datasets were collected</p>
      </div>
      <div class="col-md-6 mb-4">
        <h4>Preprocessing</h4>
        <p>We performed extensive preprocessing on the dataset, including feature extraction and normalization, to prepare it for machine learning algorithms.</p>
      </div>
      <div class="col-md-6 mb-4">
        <h4>Model Training</h4>
        <p>We trained a deep learning model using the preprocessed dataset. The model was built.</p>
      </div>
      <div class="col-md-6 mb-4">
        <h4>Model Evaluation</h4>
        <p>We evaluated the performance of the trained model using various metrics, including accuracy and F1 score. We also performed cross-validation to ensure the model was not overfitting.</p>
      </div>
    </div>
  </div>
</section>







<!--
<footer id="footer-contact" class="bg-dark  text-white py-3">
  <div class="container">
    <div class="row">

      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center"
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook fa-lg text-white"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter fa-lg text-white"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram fa-lg text-white"></i></a></li>
        </ul>

        </div> 

      </div>
    </div>
  </div>

</footer>
-->
<footer id ="footer" class=" bg-black text-white" ">
  <div class="container py-5">
      <div class="row">
          <div class="col-md-6">
              <h5>Connect with us</h5>
              <ul class="list-unstyled d-flex">
                  <li class="me-3">
                      <a href="https://www.instagram.com/your-instagram-url" target="_blank" class="text-white d-flex flex-column align-items-center">
                          <i class="bi bi-instagram fs-3"></i>
                          <span class="fs-6">Instagram</span>
                      </a>
                  </li>
                  <li class="me-3">
                      <a href="https://www.facebook.com/your-facebook-url" target="_blank" class="text-white d-flex flex-column align-items-center">
                          <i class="bi bi-facebook fs-3"></i>
                          <span class="fs-6">Facebook</span>
                      </a>
                  </li>
                  <li class="me-3">
                      <a href="https://twitter.com/your-twitter-url" target="_blank" class="text-white d-flex flex-column align-items-center">
                          <i class="bi bi-twitter fs-3"></i>
                          <span class="fs-6">Twitter</span>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.linkedin.com/your-linkedin-url" target="_blank" class="text-white d-flex flex-column align-items-center">
                          <i class="bi bi-linkedin fs-3"></i>
                          <span class="fs-6">LinkedIn</span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-md-6 text-center text-md-end">
              <p class="m-0">&copy; 2023 BabyCry Classifier</p>
          </div>
      </div>
  </div>
</footer>



{% endblock %}
<!--
<footer id="footer-contact" class="bg-dark  text-white py-3">
  <div class="container">
    <div class="row">

      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center"
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook fa-lg text-white"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter fa-lg text-white"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram fa-lg text-white"></i></a></li>
        </ul>

        </div> 

      </div>
    </div>
  </div>

</footer>
-->